*{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

button{
    background: #d00;
    color: #fff;
    padding: .75rem 1.25rem;
    border: none;
    margin: 0 .125rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: -0.5px;
}

.btn--light{
  color: #808080;
  background: #fff !important;
  border: 1px solid #808080;
}




a{
  color: #d00;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body{
  font-size: 1.067rem;
  line-height: 1.575rem;
}

h1, .h1{
  font-size: 1.913rem;
  text-transform: uppercase;
}

h2, .h2{ margin: 0 0 16px 0;}
  .h2--subtitle{
    color: #808080;
    font-size: 1.067rem;
    text-transform: none !important;
    margin-top: 4px;
    padding-bottom: 5px;
  }

h3{}
