<template name="Cover">
  <div class="cover-widget">
    <div class="cover-header">
      <div class="cover-header__title">
        <h1 class="h1"><span>We're your <br>Student Council</span></h1>
      </div>
      <div class="cover-header__subtitle">
        <h2 class="h2"><span>jər səˈpɔrt ət ˈjuni 'kɔbləns ˈlænˌdaʊ</span></h2>
      </div>
    </div>
    <div class="c-member-list">
      <div class="c-member-item"><img class="c-member__photo" alt="" src="/resources/img/member-1.png" /></div>
      <div class="c-member-item"><img class="c-member__photo" alt="" src="/resources/img/member-2.png" /></div>
      <div class="c-member-item"><img class="c-member__photo" alt="" src="/resources/img/member-3.png" /></div>
    </div>
  </div>
</template>
