<template name="Quickinfo">
  <div class="c-info">
    <div class="c-info__item">
      <div class="c-info__item-title">
        <i class="fa fa-graduation-cap fa-fw fa-2x"></i>
        <h3>Study guidance</h3>
      </div>
      <div class="c-info__item-content">
        <p>With Malice toward none, with charity for all, with firmness in the right, as God gives us to see the right, let us strive on to finish the work we are in, to bind.</p>
      </div>
    </div>
    <div class="c-info__item">
      <div class="c-info__item-title">
        <i class="fa fa-file-text-o fa-fw fa-2x"></i>
        <h3>Exam preparation</h3>
      </div>
      <div class="c-info__item-content">
        <p>With Malice toward none, with charity for all, with firmness in the right, as God gives us to see the right, let us strive on to finish the work we are in, to bind.</p>
      </div>
    </div>
    <div class="c-info__item">
      <div class="c-info__item-title">
        <i class="fa fa-calendar-check-o fa-fw fa-2x"></i>
        <h3>Event management</h3>
      </div>
      <div class="c-info__item-content">
        <p>With Malice toward none, with charity for all, with firmness in the right, as God gives us to see the right, let us strive on to finish the work we are in, to bind.</p>
      </div>
    </div>
    <div class="c-info__item">
      <div class="c-info__item-title">
        <i class="fa fa-users fa-fw fa-2x"></i>
        <h3>Team building</h3>
      </div>
      <div class="c-info__item-content">
        <p>With Malice toward none, with charity for all, with firmness in the right, as God gives us to see the right, let us strive on to finish the work we are in, to bind.</p>
      </div>
    </div>
  </div>
</template>
