<template name="EventWidget">
  <div class="event-widget">
    <div class="widget-heading">
      <div class="widget-heading__icon">
        <img alt="" src="/resources/img/canada.png" />
      </div>
      <div class="widget-heading__title">
        <h1 class="h1">Upcoming Events</h1>
      </div>
      <div class="widget-heading__subtitle">
        <h2 class="h2 h2--subtitle">Have fun. Be amazing.</h2>
      </div>
    </div>
    <div class="widget-content">
      <div class="item">
        <div class="item-metabar"><span>17</span>Aug</div>
        <div class="item-title">
          <h2 class="h2">Erstifahrt</h2>
        </div>
        <div class="item-meta">
          <div class="item-meta__date">
            <p>23. April 2018</p>
          </div>
          <div class="item-meta__time">
            <p>14:00 - 21:00</p>
          </div>
          <div class="item-meta__place">
            <p>Landau, Rheinland-Pfalz</p>
          </div>
        </div>
        <div class="item-thumbnail"></div>
        <div class="item-content">
          <div class="item-title">
            <h2 class="h2">Erstifahrt</h2>
          </div>
          <div class="item-countdown">
            <p><span>32</span>Days</p>
            <p><span>08</span>Hours</p>
            <p><span>54</span>Minute</p>
            <p><span>13</span>Sec</p>
          </div>

          <div class="item-intro">
            <p>We know that some registered providers of social housing that are companies and registered charities are considering converting to become community benefit societies, with the aim...</p>
          </div>
          <div class="item-buttons">
            <button class="item-button">Join now</button>
            <button class="item-button btn--light">View details</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-metabar"><span>17</span>Aug</div>
        <div class="item-title">
          <h2 class="h2">Pub Crawl</h2>
        </div>
        <div class="item-meta">
          <div class="item-meta__date">
            <p>23. April 2018</p>
          </div>
          <div class="item-meta__time">
            <p>14:00 - 21:00</p>
          </div>
          <div class="item-meta__place">
            <p>Landau, Rheinland-Pfalz</p>
          </div>
        </div>
        <div class="item-thumbnail" style="background: url('resources/img/img-event-8.jpg') center center"></div>
        <div class="item-content">
          <div class="item-title">
            <h2 class="h2">Pub Crawl</h2>
          </div>
          <div class="item-countdown">
            <p><span>32</span>Days</p>
            <p><span>08</span>Hours</p>
            <p><span>54</span>Minute</p>
            <p><span>13</span>Sec</p>
          </div>
          <div class="item-intro">
            <p>We know that some registered providers of social housing that are companies and registered charities are considering converting to become community benefit societies, with the aim...</p>
          </div>
          <div class="item-buttons">
            <button class="item-button">Join now</button>
            <button class="item-button btn--light">View details</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-metabar"><span>17</span>Aug</div>
        <div class="item-title">
          <h2 class="h2">Drunk Trump Party</h2>
        </div>
        <div class="item-meta">
          <div class="item-meta__date">
            <p>23. April 2018</p>
          </div>
          <div class="item-meta__time">
            <p>14:00 - 21:00</p>
          </div>
          <div class="item-meta__place">
            <p>Landau, Rheinland-Pfalz</p>
          </div>
        </div>
        <div class="item-thumbnail" style="background: url('resources/img/img-event-7.jpg') center center"></div>
        <div class="item-content">
          <div class="item-title">
            <h2 class="h2">Drunk Trump Party</h2>
          </div>
          <div class="item-countdown">
            <p><span>32</span>Days</p>
            <p><span>08</span>Hours</p>
            <p><span>54</span>Minute</p>
            <p><span>13</span>Sec</p>
          </div>
          <div class="item-intro">
            <p>We know that some registered providers of social housing that are companies and registered charities are considering converting to become community benefit societies, with the aim...</p>
          </div>
          <div class="item-buttons">
            <button class="item-button">Join now</button>
            <button class="item-button btn--light">View details</button>
          </div>
        </div>
      </div>
      <div class="event-pagination">
        <a href="#">«</a>
        <a class="current" href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">»</a>
      </div>
    </div>
  </div>
</template>
